@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
    transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
                color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.font-Parkinsans {
   font-family: "Parkinsans", sans-serif;
}

:root {
  --color-primary : #1d4ed8;
  --color-dark-page : #171717;
  --color-light-page : #e5e5e5;
  --color-secondary : #3b82f6;
  --color-secondary-hover : #60a5fa;
}
