@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



.font-share {
  /* font-family: "Share Tech", sans-serif; */
  font-family: "Noto Sans", sans-serif;
}


:root {
  --color-primary : #3457CB;
  --color-dark-page : #000000;
  --color-text-light : #EBEEFA;
  --color-secondary : #5D79D5;
  --color-secondary-hover : #859AE0;
}
